/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("image/band.jpg");
    background-position: center center;
    background-size: cover;
    filter: blur(5px); 
    opacity: 0.2;
    z-index: -1;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Grid Layout for Main Characters */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

/* Apply fade-in to images and text */
.grid-container img, .grid-container p, h3, p {
    animation: fadeIn 2s ease-in-out;
}

/* Character Image Styling */
.grid-container img {
    width: 100%;
    height: auto;
    max-width: 150px; 
    border-radius: 25px;
    border: 3px solid #ca0b4a;
}

/* Character Text Styling */
.grid-container p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem; 
    color: #ffffff;
    text-shadow: 0px 2px 2px #ca0b4a; 
    grid-row: 2; 
}

/* Section Titles */
h3 {
    font-family: 'Arial Black', sans-serif;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 3px 3px 0 #ca0b4a;
    margin: 20px 0; 
    text-align: center;
}

/* General Paragraph Styling */
p {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 1.2rem; 
    margin: 0;
    text-shadow: 0px 2px 0 #ca0b4a; 
    text-align: center;
    z-index: 1; 
}

/* Back Button Styling */
.btn-back {
    font-family: 'Arial Black', sans-serif;
    display: inline-block;
    padding: 0.75rem 1.5rem; /* Starting padding */
    margin: 20px auto;
    font-size: 1rem; /* Starting font size */
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #ca0b4a;
    border: 2px solid #ca0b4a;
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    animation: fadeIn 2s ease-in-out; /* Apply fade-in to the button */
}

/* Responsive Button */
@media screen and (max-width: 1200px) {
    .btn-back {
        padding: 0.65rem 1.3rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 900px) {
    .btn-back {
        padding: 0.55rem 1.2rem;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 600px) {
    .btn-back {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 400px) {
    .btn-back {
        padding: 0.45rem 0.9rem;
        font-size: 0.7rem;
    }
}

/* Button Hover and Active States */
.btn-back:hover {
    background-color: white;
    color: #ca0b4a;
    transform: scale(1.05);
}

.btn-back:active {
    transform: scale(0.95);
}
